/* .lineLeft */
.lineLeft { z-index: 10; position: absolute; left: 0; top: 0; height: 100%; width: 0; background: #000; display: block; } 
.lineLeft::before { content: ""; width: 1px; height: calc(100% + 2vw); background: #000; position: absolute; left: -1vw; top: -1vw; } 
.lineLeft::after { content: ""; width: 1px; height: calc(100% + 2vw); background: #000; position: absolute; left: 1vw; top: -1vw; } 

/* lineBottom */
.lineBottom { z-index: 10; width: calc(100% + (1vw)); height: 0; background: #000; position: absolute; display: block; left: 0; bottom: 0; } 
.lineBottom::before { content: ""; width: 100%; height: 1px; background: #000; position: absolute; bottom: -1vw; left: -1vw; } 
.lineBottom::after { content: ""; width: 100%; height: 1px; background: #000; position: absolute; bottom: 1vw; left: -1vw; } 

/* lineBottomLast */
.lineBottomLast { z-index: 10; width: calc(100% + (1vw)); height: 0; background: #000; position: absolute; display: block; left: 0; bottom: 0;} 
.lineBottomLast::before { content: ""; width: 100%; height: 1px; background: #000; position: absolute; bottom: -1vw; left: 0vw;} 
.lineBottomLast::after { content: ""; width: 100%; height: 1px; background: #000; position: absolute; bottom: 1vw; left: 0vw;} 

/* minLine */
.minLine { z-index: 100; z-index: 10; position: absolute; left: 50%; bottom: 0; height: 1vw; width: 0; background: #000; display: block; } 
.minLine::before { content: ""; width: 1px; height: 100%; background: #000; position: absolute; left: -1vw; top: 0vw; } 
.minLine::after { content: ""; width: 1px; height: 100%; background: #000; position: absolute; left: 1vw; top: 0vw; } 

/* minLineLeft */
.minLineLeft { z-index: 10; position: absolute; left: 50%; bottom: 0; height: 2vw; width: 0; background: #000; display: block; } 
.minLineLeft::before { content: ""; width: 1px; height: calc(100%); background: #000; position: absolute; left: -1vw; top: 1vw; } 
.minLineLeft::after { content: ""; width: 1px; height: calc(100%); background: #000; position: absolute; left: 1vw; top: 1vw; } 

/* miniBottom */
.minLineBtm { z-index: 10; width: 1vw; height: 0; background: #000; position: absolute; display: block; left: 0; bottom: 0; } 
.minLineBtm::before { content: ""; width: 100%; height: 1px; background: #000; position: absolute; bottom: -1vw; left: -1vw; } 
.minLineBtm::after { content: ""; width: 100%; height: 1px; background: #000; position: absolute; bottom: 1vw; left: -1vw; } 
.minLineBtm2 { z-index: 10; width: 1vw; height: 0; background: #000; position: absolute; display: block; left: 1vw; top: 50%; } 
.minLineBtm2::before { content: ""; width: 100%; height: 1px; background: #000; position: absolute; bottom: -1vw; left: -1vw; } 
.minLineBtm2::after { content: ""; width: 100%; height: 1px; background: #000; position: absolute; bottom: 1vw; left: -1vw; } 
